/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
html {
	background: #FFFEF8;
}

body {
	font-family: 'Work Sans' ;
	font-size: 14px;
}
body > div {
	max-width: 1140px;
	margin: auto;
	padding-top: 0.1px;
	position: relative;
	min-height: 100vh;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	margin-top: 4px;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 20px;
	font-size: 1.2em;
}

ul li a.active {
	font-weight: 700;
}

li a:hover {
	color: #B1663C;
}

li a {
	color: black;
	text-decoration: none;
}

li a:visited {
	text-decoration: none;
}

li a img {
	width: auto;
	height: 19px;
}

#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 50px;
}

.filter-buttons {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.filter-buttons button {
	min-width: 100px;
	height: 37px;
	padding: 9px;
	margin-right: 10px;
	font-family: 'Syne';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: #1D6154;
	border: 1px solid #1D6154;
	border-radius: 60px;
	background: none;
}

.filter-buttons button:last-of-type {
	margin-right: 0px;
}

.filter-buttons button:hover{
	background-color: #1D6154;
	color: white;
}

.filter-buttons button.active{
	background-color: #1D6154;
	color: white;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
	margin: auto;
	padding-bottom: 70px;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#login {
	width: 50%;
	margin: auto;
}
#login > * {
	text-align: center;
}
#login h2{
	margin-bottom: 20px;
}
#login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#login label {
	margin: 2em 0 1em 0;
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

#login a {
	display: block;
	color: #3D3D3D;
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	text-decoration-line: underline;
}

footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 20px;
}

/*Edition Mode elements*/

body > section {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background: black;
	margin: 0px;
	padding: 10px 0px;
}

body > section img {
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

body > section p {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #FFFFFF;
	margin-right: 20px;
}

body > section button {
	background: #FFFFFF;
	border-radius: 60px;
	padding: 10px 23px;
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	color: #000000;
}

#portfolio div:first-child {
	display: flex;
	flex-direction: row;
	padding-left: 42%;
}

#portfolio div > a {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0 0 50px 30px;
	text-decoration: none;
}

#portfolio div > a img {
	height: 20px;
	width: 20px;
	margin-right: 8px;
}
#portfolio div > a p {
	font-style: normal;
	font-weight: 400;
	line-height: 16px;
	color: #000000;
}

/*Modale*/

.modal {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);

	animation: fadeIn .5s both;
}

.modal[aria-hidden="true"]{
	animation: fadeOut .5s both;
}

.modal-wrapper {
	width: 630px;
	max-width: calc(100vw - 20px);
	height: auto;
	max-height: calc(100vh - 20px);
	background: #FFFFFF;
	overflow-y:auto;
	
	animation: slideFromTop .5s both;
}

.modal[aria-hidden="true"] .modal-wrapper {
	animation: slideFromBottom .5s both;
}

.modal-wrapper > div:first-of-type {
	display: flex;
	width: 100%;
	height: 60px;
	align-items: center;
	justify-content: end;
}

.modal-wrapper > div:first-of-type > button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 24px;
	height: 24px;
	padding: 0;
	margin: 0 18px;
	background: none;
	border: none;
}

.modal-wrapper > div:first-of-type > button:first-of-type > img {
	width: 20px;
	height: 20px;
}

.modal-wrapper > div:first-of-type > button:last-of-type > img {
	width: 12px;
	height: 12px;
}

.modal-wrapper > div:last-of-type {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
}

.modal-wrapper > div:last-of-type > h3 {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 26px;
	line-height: 30px;
	text-align: center;
	color: #000000;
	margin-bottom: 46px;
}

.modal-wrapper > div:last-of-type > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 7px;
    grid-row-gap: 13px;
}

.modal-wrapper > div:last-of-type > div > figure {
	position: relative;
}

.modal-wrapper > div:last-of-type > div > figure > button {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 5px;
	right: 5px;
	width: 17px;
	height: 17px;
	background: #000000;
	border-radius: 2px;
}

.modal-wrapper > div:last-of-type > div > figure > button > img {
	width: 9px;
	height: 9px;
}

.modal-wrapper > div:last-of-type > div > figure > img {
	width: 80px;
	height: auto;
}

.modal-wrapper > div:last-of-type > hr {
	border: 1px solid #B3B3B3;
	width: 420px;
	margin: 30px 0 30px 0;
}

.modal-wrapper > div:last-of-type > button {
    font-family: 'Syne';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	color: #FFFFFF;
	background: #1D6154;
	border-radius: 60px;
	border: none;
	padding: 10px 50px;
}

.modal-wrapper > div:last-of-type > a {
	font-family: 'Syne';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: #D65353;
	margin-top: 20px;
}

#form-add-work {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#form-add-work > div {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 420px;
	height: 169px;
	background: #E8F1F7;
	border-radius: 3px;
	margin-bottom: 30px;
}

#form-add-work > div > img {
	width: 58px;
	height: auto;
	margin-top: 30px;
}

#form-add-work > div > button {
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #306685;
	background: #CBD6DC;
	border-radius: 50px;
	padding: 10px 33px;
	border: none;
	margin-top: 20px;
}

#form-add-work > div > p {
	font-weight: 400;
	font-size: 10px;
	line-height: 12px;
	color: #444444;
	margin-top: 5px;
}

#form-add-work > label {
	margin-bottom: 10px;
}

#form-add-work > input[type="text"] {
	width: 420px;
	height: 50px;
	background: #FFFFFF;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	border: none;
	margin-bottom: 20px;
}

#form-add-work > select {
	width: 420px;
	height: 50px;
	background: #FFFFFF;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	border: none;
}

#form-add-work > hr {
	width: 420px;
	border: 1px solid #B3B3B3;
	margin: 50px 0 30px 0;
}

#form-add-work > input[type="submit"] {
	font-family: 'Syne';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	color: #FFFFFF;
	margin: 0 0 20px 0;
	padding: 10px 50px;
	border: none;
	background-color: #A7A7A7;
}
@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes fadeOut {
	from {opacity: 1;}
	to {opacity: 0;}
}

@keyframes slideFromTop {
	from {transform: translateY(-50px);}
	to {transform: translateY(0px);}
}

@keyframes slideFromBottom {
	from {transform: translateY(0px);}
	to {transform: translateY(-50px);}
}